.venv/

# Ignore all csv files on main folder.
*.csv

*.zip

# Ignore the main data folder.
/dados
/calculo_indicadores
/extracted_files
/programas

test.py

/*/*/__pycache__/
/*/__pycache__/
__pycache__/

/boxplots

.env